.navHeaderIndex {
  background: #2a41e8;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  display: flex;
  padding: auto;
  justify-content: space-between;
}

.articuleHeader {
  display: flex;
  padding: auto;
  width: 600px;
  height: 54px;
  left: 0px;
  top: 0px;
}

.navHeaderIndex button {
  background: #2a41e8;
  padding: auto;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.articuleHeader p {
  padding: auto;
  margin: auto;
}

.NavIndex2 {
  display: flex;
  height: 82px;
  left: 0px;
  top: 54px;
  background: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.navHeaderIndex button {
  width: 200px;
}

.NavIndex2 figure {
  margin: 0px;
  margin-right: 50px;
}

.figurere1 {
  display: flex;
}

.figurere1 img {
  margin: auto;
  margin-right: 10px;
  margin-left: 25px;
  width: 40px;
  height: 40px;
  padding: auto;
}

.NavIndex2 button {
  height: 100%;
  background-color: #ff5e14;
  color: #ffffff;
  padding: auto;
  width: 200px;

  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
}

.NavIndex2 button:hover {
  color: rgb(7, 7, 7);
}

.NavIndex2 a:hover {
  color: #2a41e8;
  font-weight: bold;
}

.NavIndex3 {
  display: flex;
  height: 82px;
  left: 0px;
  top: 54px;
  background: #ffffff;
  text-decoration: none;
}

.NavIndex2 a {
  margin: auto;
  height: 17px;
  padding: auto;
  left: 0%;
  right: 0%;
  top: calc(50% - 17px / 2);

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4b4d4f;
  text-decoration: none;
}

.NavIndex3 a {
  margin: auto;
  height: 17px;
  padding: auto;
  margin-right: 15%;
  left: 0%;
  right: 0%;
  top: calc(50% - 17px / 2);

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4b4d4f;
  text-decoration: none;
}

.NavIndex2 h2 {
  height: 33px;
  left: 22.37%;
  right: 18.77%;
  top: calc(50% - 33px / 2 + 1.5px);

  margin: auto;
  padding: auto;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  color: #4b4d4f;
}

.Figure1 {
  margin: 0;
  width: 100%;
}

.section1 {
  height: 650px;
  background-image: url(../image/hero-bg-image.png);
  position: relative;

  color: white;
  text-align: left;
  margin: 0px;
}

.section2 {
  /* centrado vertical */
  position: absolute;
  top: 30%;
  left: 15%;
  width: 73%;
}

.section2 h1 {
  margin: 0px;
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  height: 50px;
  height: 100%;
  margin-bottom: 20px;
}

.Figure1 img {
  width: 100%;
}

.section2 p {
  margin: 0px;

  font-family: "Rubik", sans-serif;

  font-size: 18px;
  height: 21px;
  height: 100%;
  margin-bottom: 50px;
}

.section2 form {
  display: flex;
  padding-top: 50px;
  height: 119px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  color: black;
}

.section2 select {
  margin-top: 5px;
  background-color: #ececec;
  border: none;
  width: 200px;
  width: 100%;
  padding-left: 8%;
  padding: auto;
  color: #232628;
}

.section2 input {
  margin-top: 5px;
  background-color: #ececec;
  border: none;
  height: 60px;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 1%;
}

.section2 article {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  height: 50%;
  width: 20%;
  margin-left: 3%;
}

.section2 span {
  margin-top: 5px;

  background-color: #ececec;
  border: none;
  padding-left: 10px;
  position: relative;
  color: #9b9b9b;
}

.section2 button {
  background-color: #2a41e8;
  border-radius: 4px;
  height: 60px;
  width: 214px;
  width: 30%;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-right: 2%;
}

.Figure1 img {
  width: 100%;
}

.sectionPart2 {
  display: flex;
  flex-direction: column;

  text-align: center;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 10%;
  width: 90%;
}

.sectionPart2 h3 {
  color: #8c8c8c;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

.sectionPart2 h1 {
  color: #111111;
  font-family: "Rubik", sans-serif;
  font-size: 56px;
  font-weight: 500px;
  margin-top: 1%;
}

.ContenedorCard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2px;
}

.ContenedorCard article {
  flex-grow: 1;
  min-width: 228px;
}

.Card {
  
  width: 398px;
  height: 519px !important;
  border-radius: 4px;
margin-top: 3%;
  border-color: #ffffff;
  text-align: left;
  position: relative;
}

.Card :hover {
  border: solid;
  border-color: transparent;
  text-align: left;
  border-radius: 2px;
}

.figureCero{

  width: 398px;

}


.FigureCero img {
  width: 398px;
  position: relative;
  object-fit: cover;
  object-position: top;
}

.ImageCard {
  width: 100%;
  height: 278px;
}

.p {
  position: absolute;
  padding-top: 10px;
  padding-right: 10px;
  bottom: 85%;
  left: 25px;
  height: 30px !important;
  background-color: #2a42e8;
  max-width:  60px;
  border-radius: 4px;
  color: #ffffff  !important;
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 500px;
  padding-left: 1% !important;
  margin: 0px;
}

.typeHouse {
  position: absolute;
  padding-top: 10px;
  padding-right: 10px;
  bottom: 85%;
  left: 130px;
  padding: auto;
  background-color:  #FF5E15;
  color: #ffffff !important;
  max-width:  60px;
  height: 30px !important;
  border-radius: 4px;
  padding-left: 1% !important;

  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 500px;
  margin: 0px;
}

.value {
  position: absolute;
  bottom: 45%;
  left: 25px;
  padding: 10px 5px;
  background-color: white;
  border-radius: 4px;
  color: black !important;
}
.ImageCard p {
  width: 398px;
}

.figureCero {
  width: 398px;
  
}

.ImageCard img {
  width: 100%;
  height: 100%;
}

.Card p {
  width: 105 px;
  height: 17px;
  color: #848484;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400px;
  margin-left: 26px;
}

.Card h3 {
  width: 314 px;
  height: 64px;
  color: #848484;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 400px;
  color: #1d1d1d;

  margin-left: 26px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.FigureBig {
  margin: 0px;
  background-color: #ffffff;
  width: 398px;
  margin-left: 5%;
}

.FigureBig2 {
  justify-content: space-between;
}
.figureOne {
  display: flex;
  margin: 0;
  color: #111111;
  justify-content: space-between;
  width: 398px;
}

.figureOneOne p {
  margin: 5%;
  color: #2a41e8;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400px;
}

.figureOne p {
  width: 150px;
}
.figureOneOne {
  display: flex;
  margin: 0px;
  color: #111111;
}
.figureOne img {
  margin: 5%;
  margin-left: 5%;
  width: 16px;
  height: 16px;
  border-radius: 5px;
}

.FigureBig2 {
  display: flex;
  margin: 0px;
  margin-top: 5%;
  width: 398px;
}

.figureTwo {
  display: flex;
  margin: 0px;
  padding: auto;
}

.FigureBig3 {
  display: flex;
  margin: 0px;
  margin-right: 5%;
}

.FigureBig3 img {
  width: 40px;
  height: 40px;
  color: black;
}

.ajusteP p {
  margin: 0px;
  color: #848484;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400px;
}

.figureTwo p {
  margin: 0px;
  color: #111111;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500px;
}

.figureTwo img {
  width: 60px;
  height: 30px;
}

.FigureBig3 p {
  margin: 0px;
  margin: auto;

  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 500px;
  color: #111111;
}


.ciudad{

  width: 398px !important;
}



.card__delete, .card__edit, .card__favorite{
  font-size: 25px;
  position: absolute;
  top: 0;
  background-color: transparent;
  border: none;
  display: none;
  padding: 5px;
}

.card__delete:hover, .card__edit:hover, .card__favorite:hover{
  transform: scale(0.8);
  cursor: pointer;
}


.card__delete, .card__edit, .card__favorite{
    font-size: 25px;
    position: absolute;
    top: 0;
    top: 100px;
    left:50px;
    background-color: transparent;
    border: none;
    display: none;
    padding: 5px;
}

.card__delete:hover, .card__edit:hover, .card__favorite:hover{
    transform: scale(0.8);
    cursor: pointer;
}

.Card:hover .card__delete, .Card:hover .card__edit, .Card:hover .card__favorite{
    display: block;
}

.card__edit{
    top: 100px;
    left: 100px  ;
    transform: rotate(45deg);
    color: yellow;
}

.card__edit:hover{
    transform: rotate(45deg) scale(0.8);
}

.card__favorite{
    top: 400px;
    left: 250px;
    color: red;
}
.Card:hover .card__delete, .main__card:hover .card__edit, .main__card:hover .card__favorite{
  display: block;
}


.card__edit:hover{
  transform: rotate(45deg) scale(0.8);
}


.Favorites{

text-align: center;
margin-top: 25%;
margin: auto;
font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 400px;
color: #ff5e14;

}

.containerCardFavorite{

  display: flex;
  margin-left: 10%;
  padding: auto;
  flex-wrap: wrap;
}


.containerCardFavorite .card__edit:hover{

display: none;
}



.Borrar{
  display: none;
}



.a{

  margin: auto;
  margin-left: 15px !important;
flex-wrap: wrap;

}

.NavIndex3 a{
  margin: auto;
  margin-left: 15px !important;
flex-wrap: wrap;
 
}


@media  (max-width: 600px) { 
  

  .NavIndex2 {
    display: flex;
  flex-wrap: wrap;
  height: auto;
  }




  

.NavIndex3 {
  display: flex;
flex-wrap: wrap;
font-size: 10px;
}


.sectionPart2{

  margin: 0px;
}

.FigureBig{
  width: 100%;
  margin: 0px;
}


.FigureCero{

  margin: 0px;
  width: 100%;
}


.FigureCero img{
width: 100%;
  margin: 1px;
}


.containerCardFavorite{

  margin: 0px;
}


.ciudad {

  width: 90% !important;
  margin: 1px !important;
}


#category{


  font-size: 10px;
}

.FigureBig2{

  width: 100%;
}

.figureOne{

  width: 100%;
}


.sectionPart2{

  margin-left: 15px !important;
}


.containerCardFavorite{

  margin: 0px;

  margin-left: 15px;
  margin-right: 15px;
}


.navHeaderIndex{

  font-size: 14px;
}

.a{
  margin: 0px !important;
  margin-top: 15px !important;
  margin-right: 25px !important;
  margin-left: 15px !important;
}

}
